name: Release nf-anndata

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build.yml
    with:
      java_version: '17'
      nextflow_version: '24.10'
      validate_tag: true

  release:
    name: Release Plugin
    needs: build-and-test
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          architecture: x64
          distribution: 'temurin'

      - name: Build release artifacts
        run: ./gradlew assemble
        env:
          GRADLE_OPTS: '-Dorg.gradle.daemon=false'

      - name: Publish to Nextflow Plugin Registry
        run: ./gradlew releasePlugin
        env:
          GRADLE_OPTS: '-Dorg.gradle.daemon=false'
          NPR_API_KEY: ${{ secrets.NPR_API_KEY }}
