name: nf-anndata CI

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    name: Test (Java ${{ matrix.java_version }}, NF ${{ matrix.nextflow_version }})
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      fail-fast: false
      matrix:
        java_version: ['17', '21']
        nextflow_version: ['24.10', '25.04']
    uses: ./.github/workflows/build.yml
    with:
      java_version: ${{ matrix.java_version }}
      nextflow_version: ${{ matrix.nextflow_version }}
